* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: rgb(0,2,3);
  background: linear-gradient(90deg, rgba(0,2,3,1) 0%, rgba(61,209,252,0.6895133053221288) 100%);
}
.container {
  display: flex;
  align-items: center;

  justify-content: center;
}

.container-horas,
.container-minutos,
.container-segundos {
  background-color: black;
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
  border: 1px black;
  box-shadow: 10px 10px 20px 2px;
  border-radius: 5px;
}
.container-horas #hora {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.container-horas p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

.container-minutos #minuto {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.container-minutos p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

.container-segundos #segundo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.container-segundos p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
.hora{
    content: "";
}
